In [8]:
import sqlite3

In [ ]:
# run this cell to check all the elements in people table
conn = sqlite3.connect('demo.db')
cursor = conn.cursor()
rows = cursor.execute('SELECT * FROM people').fetchall()
type(rows), rows
# conn.commit()

(list,
 [(1, 'keyur', 25, 'data scientist'), (2, 'vivek fichadiya', 24, 'goldsmith')])

In [7]:
# this cell will return the names of all tables in the demo.db
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()

[('people',), ('sqlite_sequence',)]